*{
	font-family: Helvetica,'Century Gothic','arial unicode ms';
}

body {
	display: block;
	background-color: #eee;
}

a {
	text-decoration: none;
	color: #fff;
}

a:active {
	background-color: #229;
}

.clearfix:after {
	clear: both;
	display: table;
	content: ".";
	visibility: hidden;
}

nav {
	display: block;
	width: 100%;
	height: 60px;
	background-color: #333;
	overflow: hidden;
}

nav ul{
	margin-top: 10px;
}

nav ul li {
	float: right;
	display: block;
	width: 10%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-color: #444;
}

nav ul li+li {
	border-right: 1px solid #666;
}

table.data {
	position: absolute;
	top: 30px;
	left: 36%;

}

table.data>td {
	width: 300px;
}


.page {
	position: relative;
	margin: 24px auto;
	width: 86%;
	height: 400px;
	background-color: #fff;
	font-size: 20px
}

.pageSkill {
	position: relative;
	margin: 24px auto;
	padding: 10px 40px;
	width: 86%;
	background-color: #fff;
	font-size: 14px;
}


.myButton {
	display: block;
	margin:20px auto;
	width: 186px;
	height: 50px;
	border-radius: 4px;
	border: 0;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	font-family: 'Century Gothic';
}

.myButton:hover {
	box-shadow: 5px 5px 10px rgba(160,160,160,0.5);

	zoom: 1.02;
}

.myButton:active {
	background-color: #222;
	zoom: 0.98;
}

.diceButton {
	margin: 40px,auto;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background-color: #444;
	border-radius: 8px;
	border: 0;
	text-align: center;
	font-size: 66px;
	color: #fff;
}

#diceOne {
	position: absolute;
	left: 36%;
	top: 150px;
}

#diceTwo {
	position: absolute;
	left: 56%;
	top: 150px;
}

@media screen and (max-width: 420px) {

	table.data {
	left: 4%;
	}

	nav ul li {
	width: 24%;
	}

	#diceOne {
	position: absolute;
	left: 12%;
	top: 150px;
	}

	#diceTwo {
	position: absolute;
	left: 52%;
	top: 150px;
	}

}